---
import { pathList } from '../../constants/pathList';
import { formatIsoString, formatYYMDString } from '../features/entry/date';
import type { TinyCollectionEntry } from '../features/entry/tinyCollectionEntry';

interface Props {
  entries: TinyCollectionEntry[];
}

const { entries } = Astro.props;
---

<style>
  .EntryList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .EntryList > li:not(:first-child) {
    margin-top: var(--space-component-4);
  }

  .EntryItem {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
  }

  .EntryItem > *:not(:first-child) {
    margin: var(--space-text-1) 0 0;
  }

  .EntryItem > a {
    font-size: var(--font-size-heading-2);
    font-weight: bold;
    line-height: var(--line-height-heading-2);
    word-break: break-all;
  }

  .PublishedDate {
    color: var(--color-neutral-subtext);
    font-size: var(--font-size-note);
    line-height: var(--line-height-note);
  }

  .Excerpt {
    font-size: var(--font-size-note);
    line-height: var(--line-height-note);
  }
</style>

<ul class="EntryList">
  {
    entries.map((entry) => (
      <li class="EntryItem">
        <a href={`/${pathList.entries}/${entry.id}`}>{entry.data.title}</a>
        <time class="PublishedDate" datetime={formatIsoString(entry.data.publishedAt)}>
          {formatYYMDString(entry.data.publishedAt, { year: '年', month: '月', day: '日' })}
        </time>
        <p class="Excerpt">{entry.data.excerpt}</p>
      </li>
    ))
  }
</ul>
