---
import { getCollection } from 'astro:content';

import { pathList } from '../../../constants/path_list';
import EntryList from '../../components/EntryList.astro';
import { addExcerptToEntries } from '../../features/entry/add_excerpt_to_entries';
import { getSortedEntries } from '../../features/entry/get_sorted_entries';
import { retrieveTranslation } from '../../features/locales/i18n';
import BaseShell from '../_layouts/BaseShell.astro';

export async function getStaticPaths() {
  const entries = await getCollection('entries');
  const categories = entries.flatMap((entry) => entry.data.categories).filter((category) => category != null);
  const filteredCategories = Array.from(new Set(categories));

  return filteredCategories.map((category) => {
    return {
      params: { category },
      props: { category },
    };
  });
}

const { category } = Astro.props;

const title = retrieveTranslation('categories.headings.entryList', { category });
const webSiteTitle = retrieveTranslation('website.title');
const description = retrieveTranslation('categories.description', { category, webSiteTitle });
const pagePath = `${pathList.categories}/${category}`;

const entries = await getCollection('entries');
const filteredEntries = entries.filter((entry) => entry.data.categories?.find((item) => item === category));
const modifiedEntries = await addExcerptToEntries(filteredEntries);
const sortedEntries = getSortedEntries(modifiedEntries);
---

<style>
  .Category > *:not(:first-child) {
    margin-top: var(--space-component-3);
  }
</style>

<BaseShell pageTitle={title} pageDescription={description} pagePath={pagePath}>
  <div class="Category">
    <h2>{retrieveTranslation('categories.headings.entryList', { category })}</h2>
    <div>
      <EntryList entries={sortedEntries} />
    </div>
  </div>
</BaseShell>
