---
import { pathList } from '../../constants/path_list';
import EntryList from '../app/components/EntryList.astro';
import { getSortedEntries } from '../app/entry/get_sorted_entries';
import BlogShell from '../app/layouts/BlogShell.astro';
import { retrieveTranslation } from '../app/locales/i18n';

import './Index.css';

const entries = (await getSortedEntries()).slice(0, 5);
---

<BlogShell pageTitle={null} pageDescription={null} pagePath={null} isUsedHeadingsTagInHeader={true}>
  <div class="Top">
    <h2>{retrieveTranslation('top.entryListTitle')}</h2>
    <EntryList entries={entries} />
    <a class="EntryListLink" href={pathList.entries}>
      {retrieveTranslation('top.entryListLink')}
    </a>
  </div>
</BlogShell>
