---
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
import timezone from 'dayjs/plugin/timezone';

import { pathList } from '../../constants/path_list';
import EntryList from '../components/EntryList.astro';
import { getSortedEntries } from '../entry/get_sorted_entries';
import BlogShell from '../layouts/BlogShell.astro';
import { retrieveTranslation } from '../locales/i18n';

import './Index.css';

dayjs.extend(utc);
dayjs.extend(timezone);

const entries = await getSortedEntries();
---

<BlogShell pageTitle={null} pageDescription={null} pagePath={null} isUsedHeadingsTagInHeader={true}>
  <div class="Top">
    <h2>{retrieveTranslation('top.entryListTitle')}</h2>
    <EntryList entries={entries} />
    <a class="EntryListLink" href={pathList.entries}>
      {retrieveTranslation('top.entryListLink')}
    </a>
  </div>
</BlogShell>
