---
import { getCollection } from 'astro:content';

import { pathList } from '../../constants/path_list';
import EntryList from '../components/EntryList.astro';
import Logo from '../components/Logo.astro';
import { addExcerptToEntries } from '../features/entry/addExcerptToEntries';
import { getSortedEntries } from '../features/entry/getSortedEntries';
import { retrieveTranslation } from '../features/locales/i18n';
import { createHomeStructuredData } from '../features/structured_data/home_structured_data';
import BaseShell from './_layouts/BaseShell.astro';
import { SlotNames } from './_shared/slot_names';

const blogTitle = retrieveTranslation('website.title');

const entries = await getCollection('entries');
const modifiedEntries = await addExcerptToEntries(entries);
const sortedEntries = getSortedEntries(modifiedEntries).slice(0, 5);

const structuredData = JSON.stringify(createHomeStructuredData());
---

<style>
  .Top > *:not(:first-child) {
    margin-top: var(--space-component-3);
  }

  .EntryListLink {
    display: inline-block;
  }
</style>

<BaseShell pageTitle={null} pageDescription={null} pagePath={null}>
  <Fragment slot={SlotNames.Logo}>
    <h1>
      <Logo title={blogTitle} />
    </h1>
  </Fragment>
  <div class="Top">
    <h2>{retrieveTranslation('top.entryListTitle')}</h2>
    <div>
      <EntryList entries={sortedEntries} />
    </div>
    <a class="EntryListLink" href={pathList.entries}>
      {retrieveTranslation('top.entryListLink')}
    </a>
  </div>
  <script type="application/ld+json" is:inline set:html={structuredData} />
</BaseShell>
