---
import { AUTHOR, FALLBACK_OG_IMAGE_URL, TWITTER_ACCOUNT_ID } from '../../constants/siteData';
import { retrieveTranslation } from '../features/locales/i18n';

interface Props {
  description: string;
  title: string;
  pageUrl: string;
  ogImageUrl?: string | undefined;
  pageType?: 'article' | 'website' | undefined;
}

const { description, title, pageUrl, ogImageUrl = FALLBACK_OG_IMAGE_URL, pageType = 'website' } = Astro.props;
const siteTitle = retrieveTranslation('website.title');
---

<meta charset="utf-8" />
<title>{title}</title>
<meta name="description" content={description} />
<meta name="author" content={AUTHOR} />
<meta name="color-scheme" content="dark light" />
<meta name="theme-color" content="#003760" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content={ogImageUrl} />
<meta name="twitter:site" content={`@${TWITTER_ACCOUNT_ID}`} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={siteTitle} />
<meta property="og:type" content={pageType} />
<meta property="og:url" content={pageUrl} />
<meta property="og:locale" content="ja_JP" />
<meta property="og:image" content={ogImageUrl} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="Hatena::Bookmark" content="nocomment" />
<link rel="author" href="https://www.hatena.ne.jp/kubo5ho/" />
<link rel="canonical" href={pageUrl} />
